.cursor-main {
  --size: 0px;
  position: fixed;
  top: calc(var(--size) / -2);
  left: calc(var(--size) / -2);
  width: var(--size);
  height: var(--size);
  pointer-events: none;
  z-index: 99999;
  background-color: #ffffff;
  mix-blend-mode: difference;
  transition: top 0.1s ease-out, left 0.1s ease-out, width 0.2s ease-out,
    height 0.2s ease-out;
}

.cursor-icons {
  top: 10px;
  left: 10px;
  height: calc(var(--cursorH) - 20px);
  transition: all 0.3s ease-out, height 0.3s ease-in-out;
}

.cursor-disable {
  --size: 0px;
}

@media only screen and (min-width: 600px) {
  .cursor-main {
    --size: 10px; /* Command-prompt style square */
  }
  .cursor-disable {
    --size: 0px;
  }
}
